* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    width: 350px;
    height: 400px;
    background-color: black;
}

.container {

}
.navbar-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    border-bottom: 1px solid rgb(85, 82, 82);
}
#logo {
    width: 36px;
    height: 36px;
}
#navbar-title {
    background: #ffc800; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc800, #9932cc); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc800, #9932cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}
